{% extends '::base.html.twig' %}

{% block title %}Personalización - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        '@PersonalizacionBundle/Resources/public/css/personalizacion.css'
        output='css/selectspersonalizacion.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts '@PersonalizacionBundle/Resources/public/js/*' output='js/personalizacion/personalizacion.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('input[type="checkbox"]').click(function(){
                if($(this).attr("value")=="verfoto"){
                    $(".prueba").toggle();
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    <div id="contenido">
        {% if name == "nina" %}
            <div id="menu">
                {% include ':includes:selectspersonalizacion_nina.html.twig' %}
                <!-- incluir otro apartado para complementos: calcetines, leotardos, gorros -->
            </div>
        {%  else %}
            <div id="menu">
                {% include ':includes:selectspersonalizacion_nino.html.twig' %}
                <!-- incluir otro apartado para complementos: calcetines, leotardos, gorros -->
            </div>
        {% endif %}
        <div class="main">
            {% include ':includes:selectspersonalizacion.html.twig' %}
        </div>

    {% if name == "nina" and names == "abrigo" %}
        <div class="options-selects">
            <label><input type="checkbox" name="prueba" value="verfoto">Ver foto - prueba</label>
            <form action="{{ path('personalizacion_selectsform') }}" method="post" {{ form_enctype(formulario) }} >

                {{ form_widget(formulario.talla) }}
                {{ form_widget(formulario.tejido) }}
                {{ form_widget(formulario.estampado) }}
                {{ form_widget(formulario.color) }}

                {{ form_rest(formulario) }}

            <!--<label><input type="checkbox" name="botones" value="verfoto">Botones</label>
            <label><input type="checkbox" name="cuellos" value="verfoto">Cuellos</label>-->
            </form>
        </div>
    {% endif %}

    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}