{% extends '::base.html.twig' %}

{% block title %}Almacén - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        '@PersonalizacionBundle/Resources/public/css/personalizacion.css'
        '@AlmacenBundle/Resources/public/css/almacen.css'
        '@UsuarioBundle/Resources/public/css/registro.css'
        '@UsuarioBundle/Resources/public/css/cuenta.css'
        output='css/almacenbusquedaerror.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menuprincipal.html.twig' %}
    <div id="contenido">
        <div id="menu">
            <ul>
                <li><a href="{{ path('almacen_index') }}">artículos</a></li>
                <li><a href="{{ path('almacen_colores') }}">colores</a></li>
                <li><a href="{{ path('almacen_estampados') }}">estampados</a></li>
            </ul>
        </div>
        <div id="main">
            <p><strong>Parámetros de búsqueda incorrectos</strong></p>
            <p class="small">Inténtalo de nuevo.</p>
            <div id="enlacescuenta">
                <ul>
                    <li>
                        <div id="enlacescuenta1">
                            <a class="boton" href="{{ path('almacen_index') }}">volver al almacén</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}