{% extends '::base.html.twig' %}

{% block title %}Almacén - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
    '@WebBundle/Resources/public/css/frontend.css'
    '@PersonalizacionBundle/Resources/public/css/personalizacion.css'
    '@AlmacenBundle/Resources/public/css/almacen.css'
    output='css/almacenbusqueda.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menuprincipal.html.twig' %}
    <div id="contenido">
        <div id="menu">
            <ul>
                <li><a href="{{ path('almacen_index') }}">artículos</a></li>
                <li><a href="{{ path('almacen_colores') }}">colores</a></li>
                <li><a href="{{ path('almacen_estampados') }}">estampados</a></li>
                <li><a href="{{ path('almacen_tejidos') }}">tejidos</a></li>
            </ul>
        </div>
        {% if error == "si" %}
            <div id="main">
                <p><strong>No se han encontrado coincidencias</strong></p>
                <p class="small">Inténtalo de nuevo.</p>
                <div id="enlacescuenta">
                    <ul>
                        <li>
                            <div id="enlacescuenta1">
                                <a class="boton" href="{{ path('almacen_index') }}">volver al almacén</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
         {% else %}
            <div id="mainfotos">
                <ul>
                    <form action="{{ path('almacen_busqueda', { 'parametro': parametro }) }}" method="post" {{ form_enctype(formulario) }} >
                        <div id="cuadrobusqueda">
                            <ul>
                                {% image output="images/almacen/search.png"
                                '@AlmacenBundle/Resources/public/images/search.png'
                                %}
                                <li><img src="{{ asset_url }}" alt=""/></li>
                                {% endimage %}
                                <li>{{ form_widget(formulario.busqueda) }}</li>
                                {{ form_rest(formulario) }}
                                <input class="boton" type="submit" name="buscar" value="buscar" />
                            </ul>
                        </div>
                    </form>
                    {% for articulo in busqueda %}
                        <div class="boxA">
                            <a href="{{ path('personalizacion_articulo', { 'genero': articulo.genero, 'articulo': articulo.slug }) }}"><img class="imgarticulo" alt="foto" src="{{ asset(directorio_imagenes ~ articulo.rutaFoto) }}"></a>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}