{% extends '::base.html.twig' %}

{% block title %}Almacén - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
    '@WebBundle/Resources/public/css/frontend.css'
    '@PersonalizacionBundle/Resources/public/css/personalizacion.css'
    '@AlmacenBundle/Resources/public/css/almacen.css'
    output='css/almacentejidos.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menuprincipal.html.twig' %}
    <div id="contenido">
        <div id="menu">
            <ul>
                <li><a href="{{ path('almacen_index') }}">artículos</a></li>
                <li><a href="{{ path('almacen_colores') }}">colores</a></li>
                <li><a href="{{ path('almacen_estampados') }}">estampados</a></li>
                <li><a href="{{ path('almacen_tejidos') }}">tejidos</a></li>
            </ul>
        </div>
        <div id="mainfotos">
            <ul>
                <form action="{{ path('almacen_busqueda', { 'parametro': "tejido" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="cuadrobusqueda">
                        <ul>
                            {% image output="images/almacen/search.png"
                            '@AlmacenBundle/Resources/public/images/search.png'
                            %}
                            <li><img src="{{ asset_url }}" alt=""/></li>
                            {% endimage %}
                            <li>{{ form_widget(formulario.busqueda) }}</li>
                            {{ form_rest(formulario) }}
                            <input class="boton" type="submit" name="buscar" value="buscar" />
                        </ul>
                    </div>
                </form>
                {% for tejido in tejidos %}
                    <div class="boxA">
                        <img alt="foto" src="{{ asset(directorio_imagenes ~ tejido.rutaFoto) }}">
                        <p>{{ tejido.slug }}</p>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}