{% extends '::base.html.twig' %}

{% block title %}Inicia sesi칩n - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
    '@WebBundle/Resources/public/css/frontend.css'
    '@UsuarioBundle/Resources/public/css/registro.css'
    output='css/iniciarsesion.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    <div id="contenido">
        <div id="formularioiniciosesion">
            <form action="{{ path('usuario_iniciarsesion') }}" method="post" {{ form_enctype(formulario) }}>
                <ul>
                    <li><p>tengo una cuenta</p></li>
                    <li><h3 class="error">email o contrase침a no v치lidos</h3></li>
                    <li>{{ form_widget(formulario.email) }}</li>
                    <li>{{ form_widget(formulario.password) }}</li>
                    {{ form_rest(formulario) }}
                    <li><input class="boton" type="submit" name="login" value="entrar" /></li>
                    <!-- falta recordar contrase침a crear div -->
                </ul>
            </form>
        </div>
        <div id="formularioregistro">
            <form action="#" method="post">
                <ul>
                    <li><p>crear una cuenta</p></li>
                    <li><a class=boton href="{{ path('usuario_registrarse') }}">registro</a></li>
                </ul>
            </form>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}