{% extends '::base.html.twig' %}

{% block title %}Inicia sesión - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
    '@WebBundle/Resources/public/css/frontend.css'
    '@UsuarioBundle/Resources/public/css/registro.css'
    output='css/iniciarsesionpassword.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@PersonalizacionBundle/Resources/public/js/*' output='js/personalizacion/personalizacion.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('input[type="checkbox"]').click(function(){
                if($(this).attr("value")=="recordarpassword"){
                    $(".recordarpassword").toggle();
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menuprincipal.html.twig' %}
    <div id="contenido">
        <div id="formularioiniciosesion">
            <ul>
                <form action="{{ path('usuario_iniciarsesion') }}" method="post" {{ form_enctype(formulario) }}>
                    <li><p>tengo una cuenta</p></li>
                    <li><h3 class="bien">contraseña actualizada, inicia sesión</h3></li>
                    <li>{{ form_widget(formulario.email) }}</li>
                    <li>{{ form_widget(formulario.password) }}</li>
                    {{ form_rest(formulario) }}
                    <li><input class="boton" type="submit" name="login" value="entrar" /></li>
                    <li><input type="checkbox" name="check_list[]" value="recordarpassword"><label>¿Has olvidado la contraseña?</label></li>
                </form>
            </ul>
            <ul>
                <form action="{{ path('usuario_iniciarsesion_recordarpassword') }}" method="post" {{ form_enctype(formulario1) }}>
                    <div class="recordarpassword">
                        <li>{{ form_widget(formulario1.email) }}</li>
                        <li>{{ form_widget(formulario1.password) }}</li>
                        {{ form_rest(formulario1) }}
                        <li><input class="boton" type="submit" name="recordarpassword" value="enviar" /></li>
                    </div>
                </form>
            </ul>
        </div>
        <div id="formularioregistro">
            <form action="#" method="post">
                <ul>
                    <li><p>crear una cuenta</p></li>
                    <li><a class=boton href="{{ path('usuario_registrarse') }}">registro</a></li>
                </ul>
            </form>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}