{% extends '::base.html.twig' %}

{% block title %}Mis pedidos - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        '@UsuarioBundle/Resources/public/css/registro.css'
        '@UsuarioBundle/Resources/public/css/cuenta.css'
        '@CompraBundle/Resources/public/css/compra.css'
        output='css/pedidos.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menucuenta.html.twig' %}
    <div id="contenidocuenta">
        <div id="menu">
            <ul>
                <li><a href="{{ path('usuario_pedidos') }}">mis pedidos</a></li>
                <li><a href="{{ path('usuario_pedidosrealizados') }}">pedidos realizados</a></li>
            </ul>
        </div>
        <div id="mainpedidos">
            {%  set cont = 0 %}
            <div id="listapedidos">
                {% if num1 == 0 %}
                    <div id="pedido-select">
                        <p><strong>No has realizado ningún pedido todavía.</strong></p>
                    </div>
                {% else %}
                    {% for personalizacio in personalizacion %}
                        {%  set cont = cont + 1 %}
                        <div id="pedido-select">
                            <div id="contpedidos">
                                <p><strong>{{ cont }}</strong></p>
                            </div>
                            <div id="imagenpersonalizada">
                                <img alt="foto" src="{{ asset(directorio_imagenes ~ personalizacio.rutaFoto) }}">
                            </div>
                            <div id="datospersonalizacion">
                                <ul>
                                    {% if personalizacio.genero == "nina" %}
                                        {% set g = "niña" %}
                                    {% else %}
                                        {% set g = "niño" %}
                                    {% endif %}
                                    <li><strong>Talla:</strong> {{ personalizacio.talla }} - {{ g }}</li>
                                    <li><strong>Tejido:</strong> {{ personalizacio.tejido.slug }}</li>
                                    {% if personalizacio.articulo.estampado != "-" %}
                                        <li><strong>Estampado:</strong> {{ personalizacio.articulo.estampado }}</li>
                                    {% endif %}
                                    {% if personalizacio.caracteristicas != "-" %}
                                        <li><strong>Características:</strong> {{ personalizacio.caracteristicas }}</li>
                                    {% else %}
                                        <li><strong>Características:</strong> diseño original</li>
                                    {% endif %}
                                    {%  set p = personalizacio.articulo.precio + personalizacio.precioAccesorios %}
                                    <li><strong>Precio total:</strong> {{ p }}€</li>
                                    {% if personalizacio.pendiente == '1' and personalizacio.mastarde == '1'%}
                                        <li class="rojo"><strong>Estado:</strong> guardado para más tarde</li>
                                    {% elseif personalizacio.pendiente == '1' %}
                                        <li class="rojo"><strong>Estado:</strong> pendiente</li>
                                    {% else %}
                                        <li class="rojo"><strong>Estado:</strong> en proceso</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}


