{% extends '::base.html.twig' %}

{% block title %}Mi cuenta - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        '@UsuarioBundle/Resources/public/css/registro.css'
        '@UsuarioBundle/Resources/public/css/cuenta.css'
        output='css/micuenta.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menucuenta.html.twig' %}
    <div id="contenidocuenta">
        <div id="menu">
            <ul>
                <li><a href="{{ path('usuario_cuenta') }}">mi cuenta</a></li>
                <li><a href="{{ path('usuario_password') }}">contraseña</a></li>
                <li><a href="{{ path('usuario_direccion') }}">dirección</a></li>
                <li><a href="{{ path('usuario_borrarcuenta') }}">eliminar cuenta</a></li>
            </ul>
        </div>
        <div id="main">
            <p><strong>Nombre: </strong>{{ usuario }}</p>
            <p><strong>Email: </strong>{{ usuario.email }}</p>
            <p><strong>Estado: </strong>online</p>
            <ul>
                <li><p><strong>Compras pendientes: </strong>{{ num }}</p></li>
                <li>
                    <div id="enlacescuenta1">
                        <a class="boton" href="{{ path('compra_homepage') }}">ver</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}


