{% extends '::base.html.twig' %}

{% block title %}Compra - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        output='css/compra.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    <div id="contenido">
        ¡Personalización añadida al carrito! Ahora puedes realizar la compra.
        SI NO HAY NADIE ONLINE QUE SE MUESTRE: 0 COMPRAS PENDIENTES EN UNA LINEA SIN NADA MAS
        {% for personalizacio in personalizacion %}
            <div id="imagenpersonalizada">
                <img alt="foto" src="{{ asset(directorio_imagenes ~ personalizacio.rutaFoto) }}">
            </div>
            <div id="datospesonalizacion">
                {{ personalizacio.talla }}
                {{ personalizacio.tejido }}
                {{ personalizacio.pendiente }}
                {{ personalizacio.articulo.precio }}
                {{ personalizacio.genero }}
                {{ personalizacio.caracteristicas }}
                {{ personalizacio.usuario }}
                {{ personalizacio.precioAccesorios }}
                ------
            </div>
        {% endfor %}

    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}