{% extends '::base.html.twig' %}

{% block title %}Compra - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        '@CompraBundle/Resources/public/css/compra.css'
        output='css/compra.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    <div id="contenido">

        <!-- CONTADOR PARA SABER CUANTAS COMPRAS PENDIENTES TIENE -->

        {% for personalizacio in personalizacion %}
            <div id="pedido-select">
                <div id="imagenpersonalizada">
                    <img alt="foto" src="{{ asset(directorio_imagenes ~ personalizacio.rutaFoto) }}">
                </div>
                <div id="datospersonalizacion">
                    <ul>
                        {% if personalizacio.genero == "nina" %}
                            {% set g = "niña" %}
                        {% else %}
                            {% set g = "niño" %}
                        {% endif %}
                        <li><strong>Talla:</strong> {{ personalizacio.talla }} - {{ g }}</li>
                        <li><strong>Tejido:</strong> {{ personalizacio.tejido.slug }}</li>
                        <li><strong>Estampado:</strong> {{ personalizacio.articulo.estampado }}</li>
                        <li><strong>Características:</strong> {{ personalizacio.caracteristicas }}</li>
                        {%  set p = personalizacio.articulo.precio + personalizacio.precioAccesorios %}
                        <li><strong>Precio total:</strong> {{ p }}€ ({{ personalizacio.articulo.precio }}€ + {{ personalizacio.precioAccesorios }}€)*</li>
                        <li>*precio de accesorios añadido al artículo</li>
                    </ul>
                </div>
                <div id="enlacepedido">
                    <div id="enlacepedido1">
                        <a class="boton" href="{{ path('compra_pedido') }}">realizar pedido</a>
                    </div>
                    <div id="enlacepedido2">
                        <!-- CAMBIAR A ENLACE A, PASAR PARAMETROS A INPUT CON ID DE PERSONALIZACION -->
                        <input class="boton" type="submit" name="pedidoselectscompra" value="eliminar del carrito" />
                    </div>
                </div>
            </div>

            <!-- NUEVO DIV PARA PEDIDO DE TODAS LAS COMPRAS PENDIENTES -->

        {% endfor %}
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}