<div id="carrito-compra">
    <!-- carrito cuenta -->
</div>
<div id="menu1">
    <ul>
        <!-- hacer ifs segun este o no logeado el usuario: mi cuenta / cerrar sesion -->
        <li><a href="#">Iniciar sesión</a></li>
        <li><a href="#">Registro</a>
    </ul>
</div>
<div id="menu2">
    <ul>
        <li><a href="{{ path('personalizacion_index', { 'genero': "nina" }) }}">niña</a></li>
        <li><a href="{{ path('personalizacion_index', { 'genero': "nino" }) }}">niño</a></li>
        <li><a href="{{ path('almacen_index') }}">almacen</a></li>
        <li><a href="{{ path('web_guiatallas') }}">guía de tallas</a></li>
        <li><a href="{{ path('web_guiacompra') }}">guía de compra</a></li>
    </ul>
</div>