<div id="menu2">
    <ul>
        <li><a href="{{ path('personalizacion_index', { 'genero': "nina" }) }}">niña</a></li>
        <li><a href="{{ path('personalizacion_index', { 'genero': "nino" }) }}">niño</a></li>
        <li><a href="{{ path('almacen_index') }}">almacén</a></li>
        <li><a href="{{ path('web_guiatallas') }}">guía de tallas</a></li>
        <li><a href="{{ path('web_guiacompra') }}">guía de compra</a></li>
    </ul>
</div>