<ul>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "abrigo" }) }}">abrigos</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "bata" }) }}">batas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camisa" }) }}">camisas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camiseta" }) }}">camisetas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "jersey" }) }}">jerséis</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "pantalon" }) }}">pantalones</a></li>
</ul>