<ul>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "abrigo" }) }}">Abrigos</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "bata" }) }}">Batas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "blusa" }) }}">Blusas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "camisa" }) }}">Camisas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "camiseta" }) }}">Camisetas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "falda" }) }}">Faldas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "jersey" }) }}">Jerséis</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "pantalon" }) }}">Pantalones</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "pijama" }) }}">Pijamas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "vestido" }) }}">Vestidos</a></li>
</ul>