<!-- NIÑAS -->
    {% if name == "nina" and names == "abrigo" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>ABRIGO</p>
                <div id="precio" class="index selects">
                    <p><strong>30.00€</strong></p>
                </div>
                <div id="precio" class="botones selects">
                    {% set p = 30.00 + 1.30 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="rosa selects">
                    <p><strong>30.00€</strong></p>
                </div>
                <div id="precio" class="azul selects">
                    <p><strong>30.00€</strong></p>
                </div>
                <div id="precio" class="botones_rosa selects">
                    {% set p = 30.00 + 1.30 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="botones_azul selects">
                    {% set p = 30.00 + 1.30 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "abrigo" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="botones"><label>Añadir botones</label></li>
                            <li><input type="radio" name="check_list[]" value="rosa"><label>Abrigo rosa</label></li>
                            <li><input type="radio" name="check_list[]" value="azul"><label>Abrigo azul</label></li>
                            <li><input type="radio" name="check_list[]" value="botones_rosa"><label>Abrigo rosa con botones</label></li>
                            <li><input type="radio" name="check_list[]" value="botones_azul"><label>Abrigo azul con botones</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "bata" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>BATA</p>
                <div id="precio" class="index selects">
                    <p><strong>18.00€</strong></p>
                </div>
                <div id="precio" class="bolsillos selects">
                    {% set p = 18.00 + 2.50 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="rosa selects">
                    <p><strong>18.00€</strong></p>
                </div>
                <div id="precio" class="bolsillos_rosa selects">
                    {% set p = 18.00 + 2.50 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="nombres selects">
                    {% set p = 18.00 + 1.10 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="bolsillos_nombres selects">
                    {% set p = 18.00 + 2.50 + 1.10 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="nombres_rosa selects">
                    {% set p = 18.00 + 1.10 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="bolsillos_nombres_rosa selects">
                    {% set p = 18.00 + 2.50 + 1.10 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "bata" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos"><label>Añadir bolsillos</label></li>
                            <li><input type="radio" name="check_list[]" value="rosa"><label>Bata rosa</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos_rosa"><label>Bata rosa con bolsillos</label></li>
                            <li><input type="radio" name="check_list[]" value="nombres"><label>Añadir nombre</label></li>
                            <li>{{ form_widget(formulario.nombre) }}</li>
                            <li><input type="radio" name="check_list[]" value="bolsillos_nombres"><label>Bata con bolsillos y nombre</label></li>
                            <li><input type="radio" name="check_list[]" value="nombres_rosa"><label>Bata rosa con nombre</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos_nombres_rosa"><label>Bata rosa con bolsillos y nombre</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "camisa" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>CAMISA / BLUSA</p>
                <div id="precio" class="index selects">
                    <p><strong>14.00€</strong></p>
                </div>
                <div id="precio" class="mangas selects">
                    {% set p = 14.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "camisa" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "camiseta" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>CAMISETA</p>
                <div id="precio" class="index selects">
                    <p><strong>9.00€</strong></p>
                </div>
                <div id="precio" class="mangas selects">
                    {% set p = 9.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="rosa selects">
                    <p><strong>9.00€</strong></p>
                </div>
                <div id="precio" class="mangas_rosa selects">
                    {% set p = 9.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "camiseta" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li><input type="radio" name="check_list[]" value="rosa"><label>Camiseta rosa</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas_rosa"><label>Camiseta rosa con mangas</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "falda" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>FALDA</p>
                <div id="precio" class="index selects">
                    <p><strong>12.00€</strong></p>
                </div>
                <div id="precio" class="lazos selects">
                    {% set p = 12.00 + 2.00 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "falda" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="lazos"><label>Añadir lazo</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "jersey" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>JERSEY</p>
                <div id="precio" class="index selects">
                    <p><strong>13.00€</strong></p>
                </div>
                <div id="precio" class="mangas selects">
                    {% set p = 13.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "jersey" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "pantalon" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>PANTALON</p>
                <div id="precio" class="index selects">
                    <p><strong>19.00€</strong></p>
                </div>
                <div id="precio" class="larguras selects">
                    {% set p = 19.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="verde selects">
                    <p><strong>19.00€</strong></p>
                </div>
                <div id="precio" class="larguras_verde selects">
                    {% set p = 19.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "pantalon" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="larguras"><label>Cambiar largo del pantalón</label></li>
                            <li><input type="radio" name="check_list[]" value="verde"><label>Pantalón verde</label></li>
                            <li><input type="radio" name="check_list[]" value="larguras_verde"><label>Pantalón corto de color verde</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "vestido" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>VESTIDO</p>
                <div id="precio" class="index selects">
                    <p><strong>23.00€</strong></p>
                </div>
                <div id="precio" class="mangas selects">
                    {% set p = 23.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="lazos selects">
                    {% set p = 23.00 + 2.00 %}
                    <p><strong>{{ p }}.00€</strong></p>
                </div>
                <div id="precio" class="mangas_lazos selects">
                    {% set p = 23.00 + 2.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "vestido" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li><input type="radio" name="check_list[]" value="lazos"><label>Añadir lazo</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas_lazos"><label>Vestido de manga corta con lazo</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

<!-- NIÑOS -->
{% if name == "nino" and names == "abrigo" %}
    <div class="options-selects">
        <div id="descripcion">
            <p>ABRIGO</p>
            <div id="precio" class="index selects">
                <p><strong>31.00€</strong></p>
            </div>
            <div id="precio" class="bolsillos selects">
                {% set p = 31.00 + 2.50 %}
                <p><strong>{{ p }}0€</strong></p>
            </div>
            <div id="precio" class="verde selects">
                <p><strong>31.00€</strong></p>
            </div>
            <div id="precio" class="bolsillos_verde selects">
                {% set p = 31.00 + 2.50 %}
                <p><strong>{{ p }}0€</strong></p>
            </div>
        </div>
        <div id="opciones">
            <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "abrigo" }) }}" method="post" {{ form_enctype(formulario) }} >
                <div id="formularioopciones">
                    <ul>
                        <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                        <li><input type="radio" name="check_list[]" value="bolsillos"><label>Añadir bolsillos</label></li>
                        <li><input type="radio" name="check_list[]" value="verde"><label>Abrigo verde</label></li>
                        <li><input type="radio" name="check_list[]" value="bolsillos_verde"><label>Abrigo verde con bolsillos</label></li>
                        <li>{{ form_widget(formulario.talla) }}</li>
                        <li>{{ form_widget(formulario.tejido) }}</li>
                        <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                        <li id="blank">{{ form_rest(formulario) }}</li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
{% endif %}
    {% if name == "nino" and names == "bata" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>BATA</p>
                <div id="precio" class="index selects">
                    <p><strong>18.00€</strong></p>
                </div>
                <div id="precio" class="bolsillos selects">
                    {% set p = 18.00 + 2.50 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="nombres selects">
                    {% set p = 18.00 + 1.10 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="bolsillos_nombres selects">
                    {% set p = 18.00 + 2.50 + 1.10 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "bata" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos"><label>Añadir bolsillos</label></li>
                            <li><input type="radio" name="check_list[]" value="nombres"><label>Añadir nombre</label></li>
                            <li>{{ form_widget(formulario.nombre) }}</li>
                            <li><input type="radio" name="check_list[]" value="bolsillos_nombres"><label>Bata con bolsillos y nombre</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nino" and names == "camisa" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>CAMISA</p>
                <div id="precio" class="index selects">
                    <p><strong>14.00€</strong></p>
                </div>
                <div id="precio" class="bolsillos selects">
                    {% set p = 14.00 + 2.50 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="mangas selects">
                    {% set p = 14.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="bolsillos_mangas selects">
                    {% set p = 14.00 + 2.50 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camisa" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos"><label>Añadir bolsillo</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos_mangas"><label>Camisa sin mangas con bolsillo</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nino" and names == "camiseta" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>CAMISETA</p>
                <div id="precio" class="index selects">
                    <p><strong>8.00€</strong></p>
                </div>
                <div id="precio" class="dibujos selects">
                    {% set p = 8.00 + 0.50 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="azul selects">
                    <p><strong>8.00€</strong></p>
                </div>
                <div id="precio" class="dibujos_azul selects">
                    {% set p = 8.00 + 0.50 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camiseta" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="dibujos"><label>Añadir dibujo abeja</label></li>
                            <li><input type="radio" name="check_list[]" value="azul"><label>Camiseta azul</label></li>
                            <li><input type="radio" name="check_list[]" value="dibujos_azul"><label>Camiseta azul con dibujo abeja</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nino" and names == "jersey" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>JERSEY</p>
                <div id="precio" class="index selects">
                    <p><strong>13.00€</strong></p>
                </div>
                <div id="precio" class="rojo selects">
                    <p><strong>13.00€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "jersey" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="rojo"><label>Jersey rojo</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nino" and names == "pantalon" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>PANTALON</p>
                <div id="precio" class="index selects">
                    <p><strong>19.00€</strong></p>
                </div>
                <div id="precio" class="larguras selects">
                    {% set p = 19.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
                <div id="precio" class="azul selects">
                    <p><strong>19.00€</strong></p>
                </div>
                <div id="precio" class="larguras_azul selects">
                    {% set p = 19.00 + 0.20 %}
                    <p><strong>{{ p }}0€</strong></p>
                </div>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "pantalon" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="larguras"><label>Cambiar largo del pantalón</label></li>
                            <li><input type="radio" name="check_list[]" value="azul"><label>Pantalón azul</label></li>
                            <li><input type="radio" name="check_list[]" value="larguras_azul"><label>Pantalón corto de color azul</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            <li id="blank">{{ form_rest(formulario) }}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
