<!-- NIÑAS -->
    {% if name == "nina" and names == "abrigo" %}
        {% image output="images/articulo/nina/abrigo.png"
        '@ArticuloBundle/Resources/public/images/nina/abrigo.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/abrigo_botones.png"
        '@PersonalizacionBundle/Resources/public/images/nina/abrigo_botones.png'
        %}
        <div class="botones selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/abrigo_azul.png"
        '@PersonalizacionBundle/Resources/public/images/nina/abrigo_azul.png'
        %}
        <div class="azul selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/abrigo_rosa.png"
        '@PersonalizacionBundle/Resources/public/images/nina/abrigo_rosa.png'
        %}
        <div class="rosa selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/abrigo_botones_rosa.png"
        '@PersonalizacionBundle/Resources/public/images/nina/abrigo_botones_rosa.png'
        %}
        <div class="botones_rosa selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/abrigo_botones_azul.png"
        '@PersonalizacionBundle/Resources/public/images/nina/abrigo_botones_azul.png'
        %}
        <div class="botones_azul selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "bata" %}
        {% image output="images/articulo/nina/bata.png"
        '@ArticuloBundle/Resources/public/images/nina/bata.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/bata_bolsillos.png"
        '@PersonalizacionBundle/Resources/public/images/nina/bata_bolsillos.png'
        %}
        <div class="bolsillos selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/bata_rosa.png"
        '@PersonalizacionBundle/Resources/public/images/nina/bata_rosa.png'
        %}
        <div class="rosa selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/bata_bolsillos_rosa.png"
        '@PersonalizacionBundle/Resources/public/images/nina/bata_bolsillos_rosa.png'
        %}
        <div class="bolsillos_rosa selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/bata_nombres.png"
        '@PersonalizacionBundle/Resources/public/images/nina/bata_nombres.png'
        %}
        <div class="nombres selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/bata_bolsillos_nombres.png"
        '@PersonalizacionBundle/Resources/public/images/nina/bata_bolsillos_nombres.png'
        %}
        <div class="bolsillos_nombres selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/bata_nombres_rosa.png"
        '@PersonalizacionBundle/Resources/public/images/nina/bata_nombres_rosa.png'
        %}
        <div class="nombres_rosa selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/bata_bolsillos_nombres_rosa.png"
        '@PersonalizacionBundle/Resources/public/images/nina/bata_bolsillos_nombres_rosa.png'
        %}
        <div class="bolsillos_nombres_rosa selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "camisa" %}
        {% image output="images/articulo/nina/camisa.png"
        '@ArticuloBundle/Resources/public/images/nina/camisa.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/camisa_mangas.png"
        '@PersonalizacionBundle/Resources/public/images/nina/camisa_mangas.png'
        %}
        <div class="mangas selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "camiseta" %}
        {% image output="images/articulo/nina/camiseta.png"
        '@ArticuloBundle/Resources/public/images/nina/camiseta.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/camiseta_mangas.png"
        '@PersonalizacionBundle/Resources/public/images/nina/camiseta_mangas.png'
        %}
        <div class="mangas selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/camiseta_rosa.png"
        '@PersonalizacionBundle/Resources/public/images/nina/camiseta_rosa.png'
        %}
        <div class="rosa selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/camiseta_mangas_rosa.png"
        '@PersonalizacionBundle/Resources/public/images/nina/camiseta_mangas_rosa.png'
        %}
        <div class="mangas_rosa selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "falda" %}
        {% image output="images/articulo/nina/falda.png"
        '@ArticuloBundle/Resources/public/images/nina/falda.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/falda_lazos.png"
        '@PersonalizacionBundle/Resources/public/images/nina/falda_lazos.png'
        %}
        <div class="lazos selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "jersey" %}
        {% image output="images/articulo/nina/jersey.png"
        '@ArticuloBundle/Resources/public/images/nina/jersey.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/jersey_mangas.png"
        '@PersonalizacionBundle/Resources/public/images/nina/jersey_mangas.png'
        %}
        <div class="mangas selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "pantalon" %}
        {% image output="images/articulo/nina/pantalon.png"
        '@ArticuloBundle/Resources/public/images/nina/pantalon.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/pantalon_larguras.png"
        '@PersonalizacionBundle/Resources/public/images/nina/pantalon_larguras.png'
        %}
        <div class="larguras selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/pantalon_verde.png"
        '@PersonalizacionBundle/Resources/public/images/nina/pantalon_verde.png'
        %}
        <div class="verde selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/pantalon_larguras_verde.png"
        '@PersonalizacionBundle/Resources/public/images/nina/pantalon_larguras_verde.png'
        %}
        <div class="larguras_verde selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "vestido" %}
        {% image output="images/articulo/nina/vestido.png"
        '@ArticuloBundle/Resources/public/images/nina/vestido.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/vestido_mangas.png"
        '@PersonalizacionBundle/Resources/public/images/nina/vestido_mangas.png'
        %}
        <div class="mangas selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/vestido_lazos.png"
        '@PersonalizacionBundle/Resources/public/images/nina/vestido_lazos.png'
        %}
        <div class="lazos selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nina/vestido_mangas_lazos.png"
        '@PersonalizacionBundle/Resources/public/images/nina/vestido_mangas_lazos.png'
        %}
        <div class="mangas_lazos selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}

<!-- NIÑOS -->
    {% if name == "nino" and names == "abrigo" %}
        {% image output="images/articulo/nino/abrigo.png"
        '@ArticuloBundle/Resources/public/images/nino/abrigo.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/abrigo_bolsillos.png"
        '@PersonalizacionBundle/Resources/public/images/nino/abrigo_bolsillos.png'
        %}
        <div class="bolsillos selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/abrigo_verde.png"
        '@PersonalizacionBundle/Resources/public/images/nino/abrigo_verde.png'
        %}
        <div class="verde selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/abrigo_bolsillos_verde.png"
        '@PersonalizacionBundle/Resources/public/images/nino/abrigo_bolsillos_verde.png'
        %}
        <div class="bolsillos_verde selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "bata" %}
        {% image output="images/articulo/nino/bata.png"
        '@ArticuloBundle/Resources/public/images/nino/bata.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/bata_bolsillos.png"
        '@PersonalizacionBundle/Resources/public/images/nino/bata_bolsillos.png'
        %}
        <div class="bolsillos selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/bata_nombres.png"
        '@PersonalizacionBundle/Resources/public/images/nino/bata_nombres.png'
        %}
        <div class="nombres selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/bata_bolsillos_nombres.png"
        '@PersonalizacionBundle/Resources/public/images/nino/bata_bolsillos_nombres.png'
        %}
        <div class="bolsillos_nombres selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "camisa" %}
        {% image output="images/articulo/nino/camisa.png"
        '@ArticuloBundle/Resources/public/images/nino/camisa.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/camisa_bolsillos.png"
        '@PersonalizacionBundle/Resources/public/images/nino/camisa_bolsillos.png'
        %}
        <div class="bolsillos selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/camisa_mangas.png"
        '@PersonalizacionBundle/Resources/public/images/nino/camisa_mangas.png'
        %}
        <div class="mangas selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/camisa_bolsillos_mangas.png"
        '@PersonalizacionBundle/Resources/public/images/nino/camisa_bolsillos_mangas.png'
        %}
        <div class="bolsillos_mangas selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "camiseta" %}
        {% image output="images/articulo/nino/camiseta.png"
        '@ArticuloBundle/Resources/public/images/nino/camiseta.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/camiseta_dibujos.png"
        '@PersonalizacionBundle/Resources/public/images/nino/camiseta_dibujos.png'
        %}
        <div class="dibujos selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/camiseta_azul.png"
        '@PersonalizacionBundle/Resources/public/images/nino/camiseta_azul.png'
        %}
        <div class="azul selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/camiseta_dibujos_azul.png"
        '@PersonalizacionBundle/Resources/public/images/nino/camiseta_dibujos_azul.png'
        %}
        <div class="dibujos_azul selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "jersey" %}
        {% image output="images/articulo/nino/jersey.png"
        '@ArticuloBundle/Resources/public/images/nino/jersey.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/jersey_rojo.png"
        '@PersonalizacionBundle/Resources/public/images/nino/jersey_rojo.png'
        %}
        <div class="rojo selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "pantalon" %}
        {% image output="images/articulo/nino/pantalon.png"
        '@ArticuloBundle/Resources/public/images/nino/pantalon.png'
        %}
        <div class="index selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/pantalon_larguras.png"
        '@PersonalizacionBundle/Resources/public/images/nino/pantalon_larguras.png'
        %}
        <div class="larguras selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/pantalon_azul.png"
        '@PersonalizacionBundle/Resources/public/images/nino/pantalon_azul.png'
        %}
        <div class="azul selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
        {% image output="images/personalizacion/nino/pantalon_larguras_azul.png"
        '@PersonalizacionBundle/Resources/public/images/nino/pantalon_larguras_azul.png'
        %}
        <div class="larguras_azul selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}