<!-- NIÑAS -->
    {% if name == "nina" and names == "abrigo" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>ABRIGO</p>
                <p><strong>30.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "abrigo" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="botones"><label>Añadir botones</label></li>
                            <li><input type="radio" name="check_list[]" value="rosa"><label>Abrigo rosa</label></li>
                            <li><input type="radio" name="check_list[]" value="azul"><label>Abrigo azul</label></li>
                            <li><input type="radio" name="check_list[]" value="botones_rosa"><label>Abrigo rosa con botones</label></li>
                            <li><input type="radio" name="check_list[]" value="botones_azul"><label>Abrigo azul con botones</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "bata" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>BATA</p>
                <p><strong>18.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "bata" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos"><label>Añadir bolsillos</label></li>
                            <li><input type="radio" name="check_list[]" value="rosa"><label>Bata rosa</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos_rosa"><label>Bata rosa con bolsillos</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "camisa" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>CAMISA / BLUSA</p>
                <p><strong>14.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "camisa" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "camiseta" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>CAMISETA</p>
                <p><strong>9.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "camiseta" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li><input type="radio" name="check_list[]" value="rosa"><label>Camiseta rosa</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas_rosa"><label>Camiseta rosa con mangas</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "falda" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>FALDA</p>
                <p><strong>12.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "falda" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="lazos"><label>Añadir lazo</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "jersey" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>JERSEY</p>
                <p><strong>13.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "jersey" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "pantalon" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>PANTALON</p>
                <p><strong>19.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "pantalon" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="larguras"><label>Cambiar largo del pantalón</label></li>
                            <li><input type="radio" name="check_list[]" value="verde"><label>Pantalón verde</label></li>
                            <li><input type="radio" name="check_list[]" value="larguras_verde"><label>Pantalón corto de color verde</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nina" and names == "vestido" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>VESTIDO</p>
                <p><strong>23.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "vestido" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li><input type="radio" name="check_list[]" value="lazos"><label>Añadir lazo</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas_lazos"><label>Vestido de manga corta con lazo</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

<!-- NIÑOS -->
{% if name == "nino" and names == "abrigo" %}
    <div class="options-selects">
        <div id="descripcion">
            <p>ABRIGO</p>
            <p><strong>31.00€</strong></p>
        </div>
        <div id="opciones">
            <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "abrigo" }) }}" method="post" {{ form_enctype(formulario) }} >
                <div id="formularioopciones">
                    <ul>
                        <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                        <li><input type="radio" name="check_list[]" value="bolsillos"><label>Añadir bolsillos</label></li>
                        <li><input type="radio" name="check_list[]" value="verde"><label>Abrigo verde</label></li>
                        <li><input type="radio" name="check_list[]" value="bolsillos_verde"><label>Abrigo verde con bolsillos</label></li>
                        <li>{{ form_widget(formulario.talla) }}</li>
                        <li>{{ form_widget(formulario.tejido) }}</li>
                        <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                        {{ form_rest(formulario) }}
                    </ul>
                </div>
            </form>
        </div>
    </div>
{% endif %}
    {% if name == "nino" and names == "bata" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>BATA</p>
                <p><strong>18.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "bata" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos"><label>Añadir bolsillos</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nino" and names == "camisa" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>CAMISA</p>
                <p><strong>14.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camisa" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos"><label>Añadir bolsillo</label></li>
                            <li><input type="radio" name="check_list[]" value="mangas"><label>Cambiar mangas</label></li>
                            <li><input type="radio" name="check_list[]" value="bolsillos_mangas"><label>Camisa sin mangas con bolsillo</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nino" and names == "camiseta" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>CAMISETA</p>
                <p><strong>8.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camiseta" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="dibujos"><label>Añadir dibujo abeja</label></li>
                            <li><input type="radio" name="check_list[]" value="azul"><label>Camiseta azul</label></li>
                            <li><input type="radio" name="check_list[]" value="dibujos_azul"><label>Camiseta azul con dibujo abeja</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nino" and names == "jersey" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>JERSEY</p>
                <p><strong>13.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "jersey" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="rojo"><label>Jersey rojo</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if name == "nino" and names == "pantalon" %}
        <div class="options-selects">
            <div id="descripcion">
                <p>PANTALON</p>
                <p><strong>19.00€</strong></p>
            </div>
            <div id="opciones">
                <form action="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "pantalon" }) }}" method="post" {{ form_enctype(formulario) }} >
                    <div id="formularioopciones">
                        <ul>
                            <li><input type="radio" name="check_list[]" value="index"><label>Diseño original</label></li>
                            <li><input type="radio" name="check_list[]" value="larguras"><label>Cambiar largo del pantalón</label></li>
                            <li><input type="radio" name="check_list[]" value="azul"><label>Pantalón azul</label></li>
                            <li><input type="radio" name="check_list[]" value="larguras_azul"><label>Pantalón corto de color azul</label></li>
                            <li>{{ form_widget(formulario.talla) }}</li>
                            <li>{{ form_widget(formulario.tejido) }}</li>
                            <li><input class="boton" type="submit" name="personalizacioncarrito" value="añadir al carrito" /></li>
                            {{ form_rest(formulario) }}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
