<!-- NIÑAS -->
    {% if name == "nina" and names == "abrigo" %}
        {% image output="images/personalizacion/nina/abrigo.png"
        '@PersonalizacionBundle/Resources/public/images/nina/abrigo.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "bata" %}
        {% image output="images/personalizacion/nina/bata.png"
        '@PersonalizacionBundle/Resources/public/images/nina/bata.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "camisa" %}
        {% image output="images/personalizacion/nina/camisa.png"
        '@PersonalizacionBundle/Resources/public/images/nina/camisa.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "camiseta" %}
        {% image output="images/personalizacion/nina/camiseta.png"
        '@PersonalizacionBundle/Resources/public/images/nina/camiseta.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "falda" %}
        {% image output="images/personalizacion/nina/falda.png"
        '@PersonalizacionBundle/Resources/public/images/nina/falda.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "jersey" %}
        {% image output="images/personalizacion/nina/jersey.png"
        '@PersonalizacionBundle/Resources/public/images/nina/jersey.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "pantalon" %}
        {% image output="images/personalizacion/nina/pantalon.png"
        '@PersonalizacionBundle/Resources/public/images/nina/pantalon.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "pijama" %}
        {% image output="images/personalizacion/nina/pijama.png"
        '@PersonalizacionBundle/Resources/public/images/nina/pijama.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nina" and names == "vestido" %}
        {% image output="images/personalizacion/nina/vestido.png"
        '@PersonalizacionBundle/Resources/public/images/nina/vestido.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}

<!-- NIÑOS -->
    {% if name == "nino" and names == "abrigo" %}
        {% image output="images/personalizacion/nino/abrigo.png"
        '@PersonalizacionBundle/Resources/public/images/nino/abrigo.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "bata" %}
        {% image output="images/personalizacion/nino/bata.png"
        '@PersonalizacionBundle/Resources/public/images/nino/bata.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "camisa" %}
        {% image output="images/personalizacion/nino/camisa.png"
        '@PersonalizacionBundle/Resources/public/images/nino/camisa.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "camiseta" %}
        {% image output="images/personalizacion/nino/camiseta.png"
        '@PersonalizacionBundle/Resources/public/images/nino/camiseta.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "jersey" %}
        {% image output="images/personalizacion/nino/jersey.png"
        '@PersonalizacionBundle/Resources/public/images/nino/jersey.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "pantalon" %}
        {% image output="images/personalizacion/nino/pantalon.png"
        '@PersonalizacionBundle/Resources/public/images/nino/pantalon.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}
    {% if name == "nino" and names == "pijama" %}
        {% image output="images/personalizacion/nino/pijama.png"
        '@PersonalizacionBundle/Resources/public/images/nino/pijama.png'
        %}
        <div id="selects">
            <img src="{{ asset_url }}" alt=""/>
        </div>
        {% endimage %}
    {% endif %}