<ul>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "abrigo" }) }}">abrigo</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "bata" }) }}">bata</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camisa" }) }}">camisa</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camiseta" }) }}">camiseta</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "jersey" }) }}">jersey</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "pantalon" }) }}">pantalón</a></li>
</ul>