<ul>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "abrigo" }) }}">Abrigos</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "bata" }) }}">Batas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camisa" }) }}">Camisas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "camiseta" }) }}">Camisetas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "jersey" }) }}">Jerséis</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nino", 'articulo': "pantalon" }) }}">Pantalones</a></li>
</ul>