<ul>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "abrigo" }) }}">abrigos</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "bata" }) }}">batas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "camisa" }) }}">camisas / blusas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "camiseta" }) }}">camisetas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "falda" }) }}">faldas</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "jersey" }) }}">jerséis</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "pantalon" }) }}">pantalones</a></li>
    <li><a href="{{ path('personalizacion_articulo', { 'genero': "nina", 'articulo': "vestido" }) }}">vestidos</a></li>
</ul>